@import url("https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");

/* header section */

* {
  /* max-width:  1440px;;
  width: 90%;
  margin: 0 auto; */
}
header {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  height: 96px;
}
.header-div {
  /* max-width: 1140px; */
  width: 100%;
  height: 96px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1000;
  background-color: #ffffff;
  /* margin-left: -200px; */
}
.brend {
  width: 101px;
  height: 27px;
  display: flex;
  flex-direction: row;
  margin-left: 100px;
}
.tm {
  width: 14px;
  height: 9px;
  color: #000000;
  font-weight: 900;
  font-size: 8.22px;
  line-height: 8.8px;
  margin-top: -3px;
  font-family: "Inter", sans-serif;
}

.header-nav {
  width: 328px;
  height: 20px;
  display: flex;
  flex-direction: row;
  column-gap: 24px;
}
.nav-li {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19.36px;
  color: #000000;
}
.nav-action {
  width: 100px;
  height: 48px;
  background-color: #000000;
  border-radius: 32px;
  position: relative;
  gap: 10px;
  padding: 14px 24px;
  /* margin-right: 150px; */
}
.action-text {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  width: 52px;
  height: 24px;
  font-size: 16px;
  color: #f3f3f3;
  position: absolute;
  text-align: center;
}

/* section1 */

.section-1 {
  max-width: 1440px;
  width: 100%;

  margin: 0 auto;

  height: 556px;

  padding: 65px 165px;
  /* gap: 150px; */
  background-color: aquamarine;
}

.sec1-div {
  width: 100%;
  /* max-width:1440px; */
  display: flex;
  flex-direction: row;
  /* width: 90%; */
  height: 556px;
  row-gap: 130px;
}
.left-div {
  width: 50%;
  height: 288px;
  text-align: left;

  margin-top: 100px;
  /* margin-left: 60px; */
}
h1 {
  height: 120px;
  font-weight: 900;
  font-family: "Inter", sans-serif;
  font-size: 56px;

  color: #000000;
}
.seqtion1-paragraf {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #000;
}
.section1-children {
  display: flex;
  flex-direction: row;
  width: 490px;
  height: 48px;
  gap: 20px;
  margin-top: 40px;
}
.left-child-div {
  width: 100px;
  height: 48px;
  background-color: #000000;
  border-radius: 32px;
  position: relative;
  gap: 10px;
  padding: 14px 24px;
}
.right-div {
  background-image: url(../image/section-img.jpg.jpg);
  width: 50%;
  height: 428px;
  border-radius: 12px;
  padding-left: 10px;
  gap: 10px;
  align-items: center;
  margin-right: 30px;
  background-size: cover;
  background-position: top right;
  margin-bottom: 30px;
  /* background-color: brown; */
}
.section1-img {
  width: 50%;
  margin-top: 120px;

  /* background-image: url(../image/section-img.jpg.jpg); */
}
.action-paragraf {
  width: 236px;
  height: 40px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #000;
  margin-left: 200px;
}

/* 3 paragrap */
.sec1-div2 {
  max-width: 1440px;
  width: 100%;

  margin: 0 auto;

  height: 556px;

  padding: 65px 165px;
  gap: 130px;
  background-color: #f3f3f3;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
}

.paragarp1 {
  max-width: 25%;
  height: 128px;
  gap: 16px;

  margin-top: 62px;
}
.future1div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}
.childen2-section {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #000;
}
.paragrap-title {
  width: 294px;
  height: 28px;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #000;
  margin-left: 16px;
}
.children2-paragrap {
  width: 340px;
  height: 72px;
  font-weight: 400px;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  text-align: left;
}
